**/__pycache__/
.*/

*.osm
*.o5m
*.pbf
*.mp4
*.mp4
*.pkl
*.xml
*.zip
*.json
*.html

!tpov_filter.txt
!match_params.json
!match_schema.json
!announce_params.json
!announce_schema.json
!visualization_template.html
!tpov_layout.xml