**/__pycache__/
.*/
media/*

*.osm
*.o5m
*.pbf
*.mp4
*.mov
*.pkl
*.xml
*.zip
*.json
*.html
*.txt

!tpov_filter.txt
!tpov_commands.json
!match_params.json
!match_params_zh.json
!match_schema.json
!announce_params.json
!announce_schema.json
!visualization_template.html
!visualization_template_zh.html
!tpov_layout.xml
!tpov_layout_zh.xml