texttable
tqdm
requests
coord-convert
bd09convertor
osmium
git+https://github.com/tkrajina/gpxpy.git
leuvenmapmatching
lxml
jsonschema
python-dateutil
git+https://github.com/CyrilSLi/gopro-dashboard-overlay.git